<template name="viewEvent">
	<div class="container">
		<div class="page-header">
			<h1>
				{{title}}
			</h1>

			<h5 class="text-muted">
				<span class="glyphicon glyphicon-calendar"></span> {{formatDate date "long"}}
			</h5>

			<ol class="breadcrumb">
			  <li><a href="/events">Events</a></li>
			  <li class="active">{{title}}</li>
			</ol>
		</div>

		<div class="row">
			<div class="col-md-3 hidden-sm hidden-xs">
				<div>
					{{rsvps}} {{peopleOrPerson}} going
				</div>

				<div class="row event-attend">
					<a href="#" class="btn btn-success btn-lg">
						<span class="glyphicon glyphicon-add"></span>
						Add Me
					</a>
				</div>

				{{#each attendees}}
					<div class="row event-attendees">
						<div class="col-md-5 event-attendee-image">
							<img src="http://placehold.it/100x100" alt="team member" class="img img-responsive img-rounded">
						</div>
						<div class="col-md-7 event-attendee-name">
							<p><strong>{{name}}</strong></p>

							<p class="text-muted">{{formatDate createdAt "short"}}</p>
						</div>
					</div>
				{{/each}}
			</div>
			<div class="col-md-9">
				<div class="events-description">
					<p>{{description}}</p>
				</div>
			</div>
		</div>
	</div>
</template>