// TODO: Fix buggy responsiveness. Eg. When reducing window width, navbar-right items jump underneath navbar-brand and profile name has unpredictable behaviour

@theme-main: #dd302c;
@bg: #f8f8f8;
@ok-green: #88cc00;
@no-red: #dd5533;

html {
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	background-color: @bg;
}

header {
	margin-bottom: -20px;
}

hr {
	border-top: 1px solid #c9c9c9;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}

a {
	color: @theme-main;
	transition: all 0.8s;

	&:hover, &:focus {
		color: darken(@theme-main, 20%);
		text-decoration: none;
	}

	&:visited {
		color: @theme-main;
	}
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
	white-space: nowrap;
}

.btn-primary {
	background-color: @theme-main;
	color: #fff !important;
	border: none;

	&:hover, &:focus {
		background-color: darken(@theme-main, 10%);
	}
}

.gray-link {
	box-shadow: none !important;
	border: none;
	color: #666;
}

.event {
	border-bottom: dashed 1px #ddd;
	padding: 10px;
	overflow: auto;

	.event-calendar {
		margin-top: 15px;

		h2 {
			margin: 15px;
		}
	}

	.event-rsvp-btn {
		color: #aaa;
		margin-bottom: 10px;
		display: inline-block;

		&:hover {
			color: @ok-green;
		}
	}

	.rsvpd {
		color: @ok-green;

		&:hover {
			color: @no-red;

			.glyphicon-ok:before {
				content: "\e014";
			}
		}
	}

	.details-link {
		width: 100%;
		text-align: right;
	}
}

.navbar {
	margin: 0;

	.navbar-brand {
		margin-top: 5px;

		.navbar-logo {
			width: 200px;
		}
	}
}

.registration-form, .sign-in-form {
	margin: 0 auto;

	input[type=text], input[type=email], input[type=password] {
		background-color: #eeeeee;
		margin: 5px 0;
		width: 100%;
		border-radius: 5px !important;
	}
}

.registration-form {
	display: none;
}

#nav-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.content {
	padding-top: 30px;
	padding-bottom: 50px;
	min-height: 500px;
}

.profile-content {
	min-height: 500px;
}

#sign-in,
#create-user,
#register,
#cancel-register,
#submit-change,
#cancel-change {
	box-shadow: none !important;
}

.page-header {
	padding: 20px;

	h1 {
		font-weight: 200;
	}

	small {
		font-weight: 100;
	}
}

section.parallax {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
}

.hsContainer {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	max-width: 450px;
	margin: -150px auto 0 auto;
	display: table-cell;
	vertical-align: middle;
	color: #ebebeb;
	padding: 0 8%;
	text-align: center;
}

.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

/* Slide 1 */
#slide-1 .bcg {
	background-color: #333;
	background-image: url('/images/lion_bg.jpg');
}

#slide-1 h1 {
	font-family: "aaarghnormal";
	background-color: rgba(0,0,0,0.3);
	padding: 20px 30px;
}

#slide-1 a {
	color: #ffffff;
	text-decoration: none;
}

.navbar-fixed-top {
	position: relative;
}

.wrapper {
	min-height: 100%;
	position: relative;
}

.profPic-container {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin: 0 auto;
}

.thumbnailContainer {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin: 0 auto;
}

.members-thumb {
	width: 200px;
	max-height: 200px;
}

.profile-header {
	background: url(/images/bg.png) repeat;
	background-color: #333;
	width: 100%;
	height: 100%;

	.row {
		margin: 0 auto;
		color: white;
		text-shadow: #030303 0px 0px 6px;
	}
}

.tab-content {
	min-height: 400px;
	padding: 20px 10px;

	.nothing-to-show {
		margin-top: 20px;
		color: #aaa;
		font-style: italic;
	}
}

.inverse-dropdown .loginOR {
	display: block;
	color: #ffffff;
	width: 100%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.member-snapshot {
	float: left;
}

.member-snapshot:nth-of-type(4n + 1) {
	clear: both;
}

#changePasswordSection {
	display: none;
}

.btn {
	box-shadow: 0 2px 2px #999999;
}

.container .navbar-brand {
	float: left;
	font-size: 14px;
	height: 50px;
	line-height: 18px;
	padding: 20px;
}

.container .navbar-toggle {
	margin-bottom: 18px;
	margin-top: 18px;
}

.navbar {
	background-image: none;
	.navbar-brand img {
		float: left;
		margin-top: -10px;
		margin-right: 6px;
	}
}

.navbar-nav > li > a, .navbar > li > button {
	font-size: 13px;
	font-weight: 200;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-bottom: 24px;
	padding-top: 22px;
}

.login-btn {
	box-shadow: none;
	margin-top: 15px;
	background-color: #333;
	margin-left: 5px;

	&:hover {
		background-color: @theme-main;
	}
}

#login-profile {
  display: inline-block;
}

.login-dropdown-item {
  width: auto;
}

#login-dropdown {
	width: 98%;
	margin: 0;
	border: none;
	border-radius: 0;
	height: 66px;

	.avatar {
		display: inline-block;
		width: 40px;
		height: 40px;
	}
}

.inverse-dropdown {
	background-color: #222222;
	border-color: #080808;

	li {
		margin: 10px 10px 5px 10px;

		a {
			color: #999999;

			&:hover {
				color: #666;
				background-color: #ddd;
			}
		}

		button {
			box-shadow: none;
		}
	}
}

.login-options {
	width: 300px;
}

.carousel-caption {
	z-index: 10;
}

.carousel-inner > .item {
	height: 500px;

	> img {
		position: absolute;
		left: 0;
		min-width: 100%;
		height: 500px;
	}

	.btn {
		font-weight: 200;
	}
}

#myCarousel .carousel-indicators > li {
	background-color: #999999;
}

#myCarousel .carousel-indicators > li.active {
	background-color: #000000;
}

.nav-tabs {
	li.active {
		a, a:hover, a:focus {
			background-color: @bg;
		}
	}
}

.padded {
	padding: 50px 15px;
}

.join-us-btn {
	box-shadow: none;
	margin-top: 2px;
	text-transform: uppercase;
	width: 200px;
	color: #ffffff;
	border-radius: 0;
	background-color: @theme-main;
	border: 3px solid darken(@theme-main, 10%);
	font-size: 15px;
	transition: all 1s;

	&:hover {
		background-color: #333;
		color: #fff;
		border-color: #222;
	}
}

.bmargin {
	margin-bottom: 16px;
}

.blog h1 a {
	color: #4b8575;
}

.blog p a {
	color: #ed7337;
}

.new-topic, .new-event {
	padding: 15px 0;
	width: 100%;
	overflow: auto;

	input, textarea {
		margin: 5px 0;
	}

	input[type=submit] {
		border: none;
	}
}

.post-list-item,
.topic-list-item {
	border-bottom: 1px dashed #ccc;
	margin-bottom: 10px;
	padding: 10px 0;
}

.topic-header {
	padding-top: 10px;
	font-size: 30px;
	margin-top: 0;
	a {
		font-weight: 100;
		color: @theme-main;
	}
}

.topic-vote-btn {
	margin-top: 20px;
	color: gray;
	border-radius: 100%;
	background: #fafafa;
	box-shadow: none;
	width: 45px;
	height: 45px;
	border: 2px #f4f4f4 solid;
	text-align: center;
	padding-top: 12px;
	cursor: pointer;
	transition: all 0.8s;

	span:before {
		margin-left: 2px;
	}

	&:hover {
		color: @ok-green;
		border-color: @ok-green;
	}

	.glyphicon {
		margin: auto;
	}
}

.topic-vote {
  padding-top: 20px;
}

.topic-vote-count {
  font-size: 22px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  color: #aaaaaa;
	font-weight: 200;
}

.topic-vote-voted {
	.topic-vote-btn, .topic-vote-count {
	  color: @ok-green;
	  border-color: @ok-green;
	}

	.topic-vote-btn {

		&:hover {
			color: @no-red;
			border-color: @no-red;

			.glyphicon:before {
				content: "\e014";
				margin-top: 3px;
			}
		}
	}
}

.topic-vote-owned > .topic-vote-btn:hover {
  color: @no-red;
  border-color: @no-red;
}

.topic-right-btn {
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: #888888;
  font-size: 12px;
}

.topic-info {
  font-style: italic;
  font-size: 12px;
}

.topic-presented-tag {
	color: @ok-green;
	width: 100%;
	text-align: center;
	font-size: 20px;
}

.ftr {
	background-color: #444;
  background: url(/images/bg.png) repeat;
	background-attachment: fixed;
  padding: 80px 0 60px 0;
  width: 100%;
	color: #fff;
	font-weight: 100;

  address, a, p {
    color: #ffffff;
  }

	.social-buttons {

		li {
			margin: 10px 0;
			padding: 0;
		}

		.btn-facebook, .btn-twitter, .btn-googleplus, .btn-github {
			box-shadow: none;
			padding: 0;

			&:before {
				font-family: "FontAwesome";
			}

			&:hover {
				text-decoration: none;
				background: #fff;
			}
		}
	}


	/* facebook button class*/
	.btn-facebook {
		&:before {
			content: "\f09a";
			/* add facebook icon */
		}

		&:hover {
			color: #4060A5;
		}
	}

	/* twitter button class*/
	.btn-twitter {
		&:before {
			content: "\f099";
		}

		&:hover {
			color: #00ABE3;
		}
	}

	/* google plus button class*/
	.btn-googleplus {
		&:before {
			content: "\f0d5";
		}

		&:hover {
			color: #e64522;
		}
	}

	/* github button class*/
	.btn-github {
		&:before {
			content: "\f09b";
		}

		&:hover {
			color: #333;
		}
	}
}

.ft_space {
  padding: 0 10px;
}

.event-attend {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px;
  padding: 10px 0;
  a {
    width: 100%;
  }
}

.event-attendees {
  border-bottom: 1px dashed #cccccc;
  margin-bottom: 10px;
}

.event-attendee-image {
  padding-bottom: 10px;
}

.event-attendee-name {
  padding-top: 20px;
}

.events-description {
  padding: 0 10px;
  margin: 30px 0;
}

.event-description {
	max-height: 50px;
	.truncate;
}

.events {
  margin-bottom: 30px;
}

.panel-body {
  padding: 0 0;
}

.breadcrumb {
  margin-top: 40px;
}

.margin-btm {
  margin-bottom: 30px;
}

.margin-tp {
  margin-top: 30px;
}

.glyphicon-circle-arrow-up {
  font-size: 32px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 8px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}

/* global button class */
.smGlobalBtn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 2px #999999;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}

.sponsors {
	margin-top: 40px;
	margin-bottom: 40px;
}

.carousel-main {
	color: #fff;
	background-color: #222;

	.carousel-center-img {
		max-width: 300px;
		margin-bottom: 40px;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 100;
		color: #fff;
		margin-bottom: 40px;
	}
}

@media (min-width: 768px) {
	.carousel-caption > .item {
		height: 600px;
	}

	.profileName {
		margin-left: 15px;
	}
}

@media (max-width: 768px) {
	.profileName {
		text-align: center;
	}

	.profPic-container {
		width: 300px;
		height: 300px;
		padding-bottom: 0;
	}

	.profileName {
		font-size: 48px;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.navbar > .container {
		width: 768px;
	}
}

@media (min-width: 768px) and (max-width: 1200px) {
	.thumbnailContainer {
		width: 190px;
		height: 190px;
	}
}
