
<template name="blog">
	<!-- Page Header Breadcrumb -->
	<div class="container">
		<ul class="breadcrumb">
			<li>
				<a href="index">Home</a>
				<span class="divider"></span>
			</li>
			<li class="active">Blogs</li>
		</ul>
		<div class="page-header"><!-- Page Header -->
			<h1>BLOG.
				<small>Tuts+News</small>
			</h1>
		</div>
		<!-- End Page Header -->
	</div>
	<!-- End Page Header Breadcrumb -->


	<!-- Blog -->
	<div class="container">
		<div class="row">
			<div class="col-sm-12 blog">
				<section class="post-list-item">
					<h2>
						<a href="http://www.smashingmagazine.com/2013/06/13/build-app-45-minutes-meteor/">Building An App In 45
							Minutes With Meteor</a>
					</h2>

					<p class="text-muted"><span class="glyphicon glyphicon-time"></span> By Start Bootstrap on September 24, 2014
						at 11:00 AM</p>

					<p>The other day, I finally accomplished one of my long-standing goals: to go from one of those Would not it
						be coool ideas to a working, live app in less than 1 hour. 45 minutes, actually.</p>
				</section>
				<section class="post-list-item">
					<h2><a href="#">Enhancing Existing Features</a></h2>

					<p class="text-muted"><span class="glyphicon glyphicon-time"></span> By Start Bootstrap on September 24, 2014
						at 11:00 AM</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
						dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
						ea commodo consequat. </p>
				</section>
				<section class="post-list-item">
					<h2><a href="#">Enhancing Existing Features</a></h2>

					<p class="text-muted"><span class="glyphicon glyphicon-time"></span> By Start Bootstrap on September 24, 2014
						at 11:00 AM</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
						dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
						ea commodo consequat. </p>
				</section>
				<section class="post-list-item">
					<h2><a href="#">Enhancing Existing Features</a></h2>

					<p class="text-muted"><span class="glyphicon glyphicon-time"></span> By Start Bootstrap on September 24, 2014
						at 11:00 AM</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
						dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
						ea commodo consequat. </p>
				</section>
				<section class="post-list-item">
					<h2><a href="#">Enhancing Existing Features</a></h2>

					<p class="text-muted"><span class="glyphicon glyphicon-time"></span> By Start Bootstrap on September 24, 2014
						at 11:00 AM</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
						dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
						ea commodo consequat. </p>
				</section>
				<section class="post-list-item">
					<h2><a href="#">Enhancing Existing Features</a></h2>

					<p class="text-muted"><span class="glyphicon glyphicon-time"></span> By Start Bootstrap on September 24, 2014
						at 11:00 AM</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
						dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
						ea commodo consequat. </p>
				</section>
				<div class="pagination">
					<li><a href="#">&laquo;</a></li>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">6</a></li>
					<li><a href="#">&raquo;</a></li>
				</div>
			</div>
		</div>
	</div>
	<!-- End Blog -->
</template>