

<template name="events">
	<!-- Page Header Breadcrumb -->
	<div class="container">
		<ul class="breadcrumb">
			<li>
				<a href="index">Home</a>
				<span class="divider"></span>
			</li>
			<li class="active">Events</li>
		</ul>
		<div class="page-header"><!-- Page Header -->
			<h1>EVENTS.
				<small>we are going to host</small>
			</h1>
		</div>
		<!-- End Page Header -->
	</div>
	<!-- End Page Header Breadcrumb -->


	<div class="container">
		<div class="row events">
			<div class="col-sm-4">
				<div class="media">
					<div class="panel panel-default text-center">
						<div class="panel-heading">
							Thursday
						</div>
						<div class="panel-body">
							<h2>18th</h2>
						</div>
						<div class="panel-footer">
							December
						</div>
					</div>
					<div class="media-body">
						<h3 class="media-heading">
							<a href="event-detail">Meteor Hack Night 2: Beginner + Advanced</a>
						</h3>
						<h5 class="text-muted">
							<p><span class="glyphicon glyphicon-calendar"></span> Thursday December 18th at 1:30AM </p>
						</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut suscipit eligendi dolore ab. Aliquam quae
							fuga nulla ipsam. Quam laborum itaque quisquam doloribus doloremque nobis praesentium quis illum enim
							voluptates?</p>

						<p>
							<a class="btn btn-primary" href="event-detail">View Details</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="media">
					<div class="panel panel-default text-center">
						<div class="panel-heading">
							Thursday
						</div>
						<div class="panel-body">
							<h2>18th</h2>
						</div>
						<div class="panel-footer">
							December
						</div>
					</div>
					<div class="media-body">
						<h3 class="media-heading">
							<a href="event-detail">Meteor Hack Night 2: Beginner + Advanced</a>
						</h3>
						<h5 class="text-muted">
							<p><span class="glyphicon glyphicon-calendar"></span> Thursday December 18th at 1:30AM </p>
						</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut suscipit eligendi dolore ab. Aliquam quae
							fuga nulla ipsam. Quam laborum itaque quisquam doloribus doloremque nobis praesentium quis illum enim
							voluptates?</p>

						<p>
							<a class="btn btn-primary" href="event-detail">View Details</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="media">
					<div class="panel panel-default text-center">
						<div class="panel-heading">
							Thursday
						</div>
						<div class="panel-body">
							<h2>28th</h2>
						</div>
						<div class="panel-footer">
							December
						</div>
					</div>
					<div class="media-body">
						<h3 class="media-heading">
							<a href="event-detail">Meteor Hack Night 2: Beginner + Advanced</a>
						</h3>
						<h5 class="text-muted">
							<p><span class="glyphicon glyphicon-calendar"></span> Thursday December 18th at 1:30AM </p>
						</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut suscipit eligendi dolore ab. Aliquam quae
							fuga nulla ipsam. Quam laborum itaque quisquam doloribus doloremque nobis praesentium quis illum enim
							voluptates?</p>

						<p>
							<a class="btn btn-primary" href="event-detail">View Details</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row events">
			<div class="col-sm-4">
				<div class="media">
					<div class="panel panel-default text-center">
						<div class="panel-heading">
							Thursday
						</div>
						<div class="panel-body">
							<h2>18th</h2>
						</div>
						<div class="panel-footer">
							December
						</div>
					</div>
					<div class="media-body">
						<h3 class="media-heading">
							<a href="event-detail">Meteor Hack Night 2: Beginner + Advanced</a>
						</h3>
						<h5 class="text-muted">
							<p><span class="glyphicon glyphicon-calendar"></span> Thursday December 18th at 1:30AM </p>
						</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut suscipit eligendi dolore ab. Aliquam quae
							fuga nulla ipsam. Quam laborum itaque quisquam doloribus doloremque nobis praesentium quis illum enim
							voluptates?</p>

						<p>
							<a class="btn btn-primary" href="event-detail">View Details</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="media">
					<div class="panel panel-default text-center">
						<div class="panel-heading">
							Thursday
						</div>
						<div class="panel-body">
							<h2>18th</h2>
						</div>
						<div class="panel-footer">
							December
						</div>
					</div>
					<div class="media-body">
						<h3 class="media-heading">
							<a href="event-detail">Meteor Hack Night 2: Beginner + Advanced</a>
						</h3>
						<h5 class="text-muted">
							<p><span class="glyphicon glyphicon-calendar"></span> Thursday December 18th at 1:30AM </p>
						</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut suscipit eligendi dolore ab. Aliquam quae
							fuga nulla ipsam. Quam laborum itaque quisquam doloribus doloremque nobis praesentium quis illum enim
							voluptates?</p>

						<p>
							<a class="btn btn-primary" href="event-detail">View Details</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="media">
					<div class="panel panel-default text-center">
						<div class="panel-heading">
							Thursday
						</div>
						<div class="panel-body">
							<h2>28th</h2>
						</div>
						<div class="panel-footer">
							December
						</div>
					</div>
					<div class="media-body">
						<h3 class="media-heading">
							<a href="event-detail">Meteor Hack Night 2: Beginner + Advanced</a>
						</h3>
						<h5 class="text-muted">
							<p><span class="glyphicon glyphicon-calendar"></span> Thursday December 18th at 1:30AM </p>
						</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut suscipit eligendi dolore ab. Aliquam quae
							fuga nulla ipsam. Quam laborum itaque quisquam doloribus doloremque nobis praesentium quis illum enim
							voluptates?</p>

						<p>
							<a class="btn btn-primary" href="event-detail">View Details</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row events">
			<div class="col-sm-4">
				<div class="media">
					<div class="panel panel-default text-center">
						<div class="panel-heading">
							Thursday
						</div>
						<div class="panel-body">
							<h2>18th</h2>
						</div>
						<div class="panel-footer">
							December
						</div>
					</div>
					<div class="media-body">
						<h3 class="media-heading">
							<a href="event-detail">Meteor Hack Night 2: Beginner + Advanced</a>
						</h3>
						<h5 class="text-muted">
							<p><span class="glyphicon glyphicon-calendar"></span> Thursday December 18th at 1:30AM </p>
						</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut suscipit eligendi dolore ab. Aliquam quae
							fuga nulla ipsam. Quam laborum itaque quisquam doloribus doloremque nobis praesentium quis illum enim
							voluptates?</p>

						<p>
							<a class="btn btn-primary" href="event-detail">View Details</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="media">
					<div class="panel panel-default text-center">
						<div class="panel-heading">
							Thursday
						</div>
						<div class="panel-body">
							<h2>18th</h2>
						</div>
						<div class="panel-footer">
							December
						</div>
					</div>
					<div class="media-body">
						<h3 class="media-heading">
							<a href="event-detail">Meteor Hack Night 2: Beginner + Advanced</a>
						</h3>
						<h5 class="text-muted">
							<p><span class="glyphicon glyphicon-calendar"></span> Thursday December 18th at 1:30AM </p>
						</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut suscipit eligendi dolore ab. Aliquam quae
							fuga nulla ipsam. Quam laborum itaque quisquam doloribus doloremque nobis praesentium quis illum enim
							voluptates?</p>

						<p>
							<a class="btn btn-primary" href="event-detail">View Details</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="media">
					<div class="panel panel-default text-center">
						<div class="panel-heading">
							Thursday
						</div>
						<div class="panel-body">
							<h2>28th</h2>
						</div>
						<div class="panel-footer">
							December
						</div>
					</div>
					<div class="media-body">
						<h3 class="media-heading">
							<a href="event-detail">Meteor Hack Night 2: Beginner + Advanced</a>
						</h3>
						<h5 class="text-muted">
							<p><span class="glyphicon glyphicon-calendar"></span> Thursday December 18th at 1:30AM </p>
						</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut suscipit eligendi dolore ab. Aliquam quae
							fuga nulla ipsam. Quam laborum itaque quisquam doloribus doloremque nobis praesentium quis illum enim
							voluptates?</p>

						<p>
							<a class="btn btn-primary" href="event-detail">View Details</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>