
<template name="event-detail">
	<!-- Page Header Breadcrumb -->
	<div class="container">
		<ul class="breadcrumb">
			<li>
				<a href="index">Home</a>
				<span class="divider"></span>
			</li>
			<li>
				<a href="events">Events</a>
				<span class="divider"></span>
			</li>
			<li class="active">Event</li>
		</ul>
		<div class="page-header"><!-- Page Header -->
			<h1>EVENT.
				<small>we are going to host</small>
			</h1>
		</div>
		<!-- End Page Header -->
	</div>
	<!-- End Page Header Breadcrumb -->


	<div class="container">
		<div class="row">
			<div class="col-md-3 hidden-sm hidden-xs">
				<div class="row event-attend">
					<a href="#" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-plus"></span> Add Me</a>
				</div>
				<div class="row event-attendees">
					<div class="col-md-5 event-attendee-image">
						<img src="http://placehold.it/100x100" alt="team member" class="img img-responsive img-rounded">
					</div>
					<div class="col-md-7 event-attendee-name">
						<p><strong>Jone Doe</strong></p>

						<p class="text-muted">1 hour ago</p>
					</div>
				</div>
				<div class="row event-attendees">
					<div class="col-md-5 event-attendee-image">
						<img src="http://placehold.it/100x100" alt="team member" class="img img-responsive img-rounded">
					</div>
					<div class="col-md-7 event-attendee-name">
						<p><strong>Jone Doe</strong></p>

						<p class="text-muted">1 hour ago</p>
					</div>
				</div>
				<div class="row event-attendees">
					<div class="col-md-5 event-attendee-image">
						<img src="http://placehold.it/100x100" alt="team member" class="img img-responsive img-rounded">
					</div>
					<div class="col-md-7 event-attendee-name">
						<p><strong>Jone Doe</strong></p>

						<p class="text-muted">1 hour ago</p>
					</div>
				</div>
				<div class="row event-attendees">
					<div class="col-md-5 event-attendee-image">
						<img src="http://placehold.it/100x100" alt="team member" class="img img-responsive img-rounded">
					</div>
					<div class="col-md-7 event-attendee-name">
						<p><strong>Jone Doe</strong></p>

						<p class="text-muted">1 hour ago</p>
					</div>
				</div>
				<div class="row event-attendees">
					<div class="col-md-5 event-attendee-image">
						<img src="http://placehold.it/100x100" alt="team member" class="img img-responsive img-rounded">
					</div>
					<div class="col-md-7 event-attendee-name">
						<p><strong>Jone Doe</strong></p>

						<p class="text-muted">1 hour ago</p>
					</div>
				</div>
				<div class="row event-attendees">
					<div class="col-md-5 event-attendee-image">
						<img src="http://placehold.it/100x100" alt="team member" class="img img-responsive img-rounded">
					</div>
					<div class="col-md-7 event-attendee-name">
						<p><strong>Jone Doe</strong></p>

						<p class="text-muted">1 hour ago</p>
					</div>
				</div>
				<div class="row event-attendees">
					<div class="col-md-5 event-attendee-image">
						<img src="http://placehold.it/100x100" alt="team member" class="img img-responsive img-rounded">
					</div>
					<div class="col-md-7 event-attendee-name">
						<p><strong>Jone Doe</strong></p>

						<p class="text-muted">1 hour ago</p>
					</div>
				</div>
				<div class="row event-attendees">
					<div class="col-md-5 event-attendee-image">
						<img src="http://placehold.it/100x100" alt="team member" class="img img-responsive img-rounded">
					</div>
					<div class="col-md-7 event-attendee-name">
						<p><strong>Jone Doe</strong></p>

						<p class="text-muted">1 hour ago</p>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<h2 class="text-center">Meteor Hack Night 2: Beginner + Advanced</h2>
				<h5 class="text-muted">
					<p class="text-center"><span class="glyphicon glyphicon-calendar"></span> Thursday December 18th at 1:30AM
					</p>
				</h5>
				<div class="events-description">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ex saepe rem aliquam fugit repudiandae optio
						vel necessitatibus vitae quas, quis corporis facilis dolores pariatur nostrum voluptatibus, molestiae culpa
						beatae!</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem provident consequatur nemo tempore quam
						dolore quaerat est veritatis molestiae temporibus, cum quisquam vero nesciunt asperiores molestias tenetur
						quas deleniti fuga.</p>

					<h3>Lorem ipsum dolor sit amet,</h3>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ex saepe rem aliquam fugit repudiandae optio
						vel necessitatibus vitae quas, quis corporis facilis dolores pariatur nostrum voluptatibus, molestiae culpa
						beatae!</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem provident consequatur nemo tempore quam
						dolore quaerat est veritatis molestiae temporibus, cum quisquam vero nesciunt asperiores molestias tenetur
						quas deleniti fuga.</p>

					<h3>Lorem ipsum dolor sit amet,</h3>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ex saepe rem aliquam fugit repudiandae optio
						vel necessitatibus vitae quas, quis corporis facilis dolores pariatur nostrum voluptatibus, molestiae culpa
						beatae!</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem provident consequatur nemo tempore quam
						dolore quaerat est veritatis molestiae temporibus, cum quisquam vero nesciunt asperiores molestias tenetur
						quas deleniti fuga.</p>

					<h3>Lorem ipsum dolor sit amet,</h3>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ex saepe rem aliquam fugit repudiandae optio
						vel necessitatibus vitae quas, quis corporis facilis dolores pariatur nostrum voluptatibus, molestiae culpa
						beatae!</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem provident consequatur nemo tempore quam
						dolore quaerat est veritatis molestiae temporibus, cum quisquam vero nesciunt asperiores molestias tenetur
						quas deleniti fuga.</p>
				</div>
			</div>
		</div>
	</div>
</template>