
<template name="footer">
	<!-- Footer -->
	<div class="ftr">
		<div class="container">
			<ul class="list-inline text-center">
				<li><strong>Follow Us On:</strong></li>
				<li><a class="btn-facebook smGlobalBtn" href="#"></a></li>
				<li><a class="btn-twitter smGlobalBtn" href="#"></a></li>
				<li><a class="btn-googleplus smGlobalBtn" href="#"></a></li>
			</ul>
			<p class="text-center text-muted">&copy; {{formatDate now "year"}} Meteor Addis Ababa.</p>
		</div>
	</div>
	<!-- End Footer -->
</template>