
<template name="home">
	<!-- Carousel -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">  <!-- Indicators -->
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>

		<div class="carousel-inner carousel-main" role="listbox">
			<div class="item active">
				<img class="img img-responsive" src="/images/meteor-cover-1.png">

				<div class="container">
					<div class="carousel-caption caption-txt">
						<img class="img img-responsive center-block" src="/images/meteor-addis-white.svg">

						<h3>
							We are a group of Meteor.js enthusiasts who meet once a month in Addis Ababa
						</h3>

						<p>
							<a class="btn btn-primary btn-lg join-us-btn" href="#">
								<strong>JOIN US!</strong>
							</a>
						</p>
					</div>
				</div>
			</div>
			<div class="item">
				<img class="img img-responsive" src="/images/meteor-cover-2.png">
				<div class="container">
					<div class="carousel-caption caption-txt">
						<img class="img img-responsive center-block" src="/images/meteor-addis-meteor.svg">
						<h1>Believe!</h1>

						<h3> We are a group of Meteor.js enthusiasts who meet once a month in Addis Ababa </h3>
					</div>
				</div>
			</div>
			<div class="item">
				<img class="img img-responsive" src="/images/meteor-cover-3.png"><!-- 1600x500 -->
				<div class="container">
					<div class="carousel-caption caption-txt">
						<img class="img img-responsive center-block" src="/images/meteor-addis-color-meteor.svg">
						<h1>Welcome!</h1>

						<h3> We are a group of Meteor.js enthusiasts who meet once a month in Addis Ababa </h3></div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span
			class="glyphicon glyphicon-chevron-left"></span></a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next"><span
			class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
	<!-- End Carousel -->

	<!-- What We Do -->
	<div class="what-we-do">
		<div class="container">
			<h1 class="text-center">WHAT WE DO</h1>

			<p class="text-center bpad">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus nam in
				consectetur dolore nostrum obcaecati, ipsum, rem harum tempore tenetur veniam dolor eius incidunt architecto vel
				modi. Nemo, aliquid, a?</p>
			<hr>
			<div class="col-md-6"> <!-- Events -->
				<h2 class="text-center margin-btm">Events</h2>

				<div class="media">
					<div class="panel panel-default text-center">
						<div class="panel-heading">
							Thursday
						</div>
						<div class="panel-body">
							<h2>18th</h2>
						</div>
						<div class="panel-footer">
							December
						</div>
					</div>
					<div class="media-body">
						<h3 class="media-heading">
							<a href="event-detail">Meteor Hack Night 2: Beginner + Advanced</a>
						</h3>
						<h5 class="text-muted">
							<p><span class="glyphicon glyphicon-calendar"></span> Thursday December 18th at 1:30AM </p>
						</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut suscipit eligendi dolore ab. Aliquam quae
							fuga nulla ipsam. Quam laborum itaque quisquam doloribus doloremque nobis praesentium quis illum enim
							voluptates?</p>

						<p class="text-center margin-tp">
							<a class="btn btn-primary btn-lg" href="event-detail">View Event Details</a>
						</p>
					</div>
				</div>
			</div>
			<!-- End Events -->
			<div class="col-md-6"><!-- Topics -->
				<h2 class="text-center margin-btm">Topics</h2>
				<ul>
					<li>
						<h3>
							<a href="#">Meteor API</a>
							<small> (5000 Points)</small>
						</h3>
						<p class="text-muted">Suggested by Jone Doe on September 24, 2014 at 11:00 AM</p>
					</li>
					<li>
						<h3>
							<a href="#">Methods</a>
							<small> (500 Points)</small>
						</h3>
						<p class="text-muted">Suggested by Jone Doe on September 24, 2014 at 11:00 AM</p>
					</li>
					<li>
						<h3>
							<a href="#">Routing</a>
							<small> (150 Points)</small>
						</h3>
						<p class="text-muted">Suggested by Jone Doe on September 24, 2014 at 11:00 AM </p>
					</li>
					<li>
						<h3>
							<a href="#">Publish/Subscribe</a>
							<small> (50 Points)</small>
						</h3>
						<p class="text-muted">Suggested by Jone Doe on September 24, 2014 at 11:00 AM</p>
					</li>
				</ul>
				<p class="text-center margin-tp">
					<a class="btn btn-primary btn-lg" href="topics">View Topic Details</a>
				</p>
			</div>
			<!-- End Topics -->
		</div>
		<hr>
	</div>
	<!-- End What We Do -->

	<!-- Our Friends and Sponsors -->
	<div class="container">
		<h1 class="text-center">OUR FRIENDS AND SPONSORS</h1>

		<p class="text-center bpad">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus nam in
			consectetur dolore nostrum obcaecati, ipsum, rem harum tempore tenetur veniam dolor eius incidunt architecto vel
			modi. Nemo, aliquid, a?</p>
		<hr>
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<img class="img img-responsive" src="http://placehold.it/700x400" alt="">

					<div class="caption">
						<h4 class="text-center">Jone Doe</h4>

						<p class="text-muted">Blanditiis provident possimus labore in ad reiciendis placeat voluptate deserunt quos
							ipsam debitis, id illo dolorem ex et iusto hic omnis accusamus.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img class="img img-responsive" src="http://placehold.it/700x400" alt="">

					<div class="caption">
						<h4 class="text-center">Jone Doe</h4>

						<p class="text-muted">Blanditiis provident possimus labore in ad reiciendis placeat voluptate deserunt quos
							ipsam debitis, id illo dolorem ex et iusto hic omnis accusamus.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img class="img img-responsive" src="http://placehold.it/700x400" alt="">

					<div class="caption">
						<h4 class="text-center">Jone Doe</h4>

						<p class="text-muted">Blanditiis provident possimus labore in ad reiciendis placeat voluptate deserunt quos
							ipsam debitis, id illo dolorem ex et iusto hic omnis accusamus.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Our Friends and Sponsors -->
</template>