
<template name="home2">
	<section id="slide-1" class="parallax">
		<div class="bcg"
		     data-center="background-position: 50% 0px;"
		     data-top-bottom="background-position: 50% -100px;"
		     data-anchor-target="#slide-1">
			<div class="hsContainer">
				<div class="hsContent"
				     data-top-top="opacity: 1; left: 0;"
				     data--75-top-top="opacity: 0; left: -50%;"
				     data-anchor-target="#slide-1 h1">
					<h1>Welcome to Meteor Addis Ababa</h1>

					<p>We
						<del>are going to have</del>
						<strong class="text-uppercase">had</strong> our first meeting, World Meteor Day Nov. 6!
					</p>
				</div>
			</div>
		</div>
	</section>
</template>