
<template name="members">
	<!-- Page Header Breadcrumb -->
	<div class="container">
		<ul class="breadcrumb">
			<li>
				<a href="index">Home</a>
				<span class="divider"></span>
			</li>
			<li class="active">Members</li>
		</ul>
		<div class="page-header"><!-- Page Header -->
			<h1>MEMBERS.
				<small>who we are</small>
			</h1>
		</div>
		<!-- End Page Header -->
	</div>
	<!-- End Page Header Breadcrumb -->


	<!-- The Team Content -->
	<div class="container">
		{{#each allUsers}}
			{{ hi }}
			<div class="col-md-3 col-sm-6 member-snapshot">
				<div class="thumbnail">
					{{#if profile.picture }}
						<div class="thumbnailContainer" style="background-image: url({{ profile.picture }})"></div>
					{{else}}
						<div class="thumbnailContainer" style="background-image: url(/images/default.png)"></div>
					{{/if}}
					<div class="caption">
						<h5 class="text-center"><a href="/user/{{ _id }}">{{ profile.name }}</a></h5>

						<p class="text-muted">Blanditiis provident possimus labore in ad reiciendis placeat voluptate deserunt quos
							ipsam debitis, id illo dolorem ex et iusto hic omnis accusamus.</p>

						<p>
							{{#if services.facebook }}
								<small>Follow On: <a href="https://www.facebook.com/{{ facebookProfile }}" target="_blank">Facebook</a>
								</small>
							{{else}}
								{{#if services.github }}
									<small>Follow On: <a href="{{ githubProfile }}" target="_blank">Github</a></small>
								{{else}}
									{{#if services.meetup }}
										<small>Follow On: <a href="{{ meetupProfile }}" target="_blank">Meetup</a></small>
									{{else}}
										<small><a href="mailto:{{ profile.email }}" target="_blank">Send them an email</a></small>
									{{/if}}
								{{/if}}
							{{/if}}
						</p>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
	<!-- End The Team Content -->
</template>