<template name="settings">
	<div class="container">
		<ul class="breadcrumb">
			<li>
				<a href="index">Home</a>
				<span class="divider"></span>
			</li>
			<li class="active">Topics</li>
		</ul>

		<div class="page-header"><!-- Page Header -->
			<h1>SETTINGS.
				<small>edit you account settings</small>
			</h1>
		</div>
		<!-- End Page Header -->
	</div>
	<!-- End Page Header Breadcrumb -->


	<div class="container">
		<div class="content">
			<div>
				<div id="deleteAccount" role="presentation">
					<a class="deleteAccount btn btn-danger" tabindex="-1" href="#">Delete Account</a>
				</div>
			</div>
		</div>
	</div>
</template>