<template name="topics">
	<!-- Page Header Breadcrumb -->
	<div class="container">
		<ul class="breadcrumb">
			<li>
				<a href="index">Home</a>
				<span class="divider"></span>
			</li>
			<li class="active">Topics</li>
		</ul>

		<div class="page-header"><!-- Page Header -->
			<h1>TOPICS.
				<small>Suggest topics for a meet-up</small>
			</h1>
		</div>
		<!-- End Page Header -->
	</div>
	<!-- End Page Header Breadcrumb -->

	<div class="container">
		<div class="row">
			<div class="col-md-12 tabbable">
				<ul id="myTab" class="nav nav-tabs">
					<li class="active"><a href="#suggested" data-toggle="tab">SUGGESTED</a></li>
					<li><a href="#presented" data-toggle="tab">PRESENTED</a></li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane fade in active" id="suggested">
						{{#if currentUser}}
							<div class="col-md-10 col-md-offset-1">
								<form class="new-topic">
									<input class="pull-left col-xs-12 form-control" id="title" type="text" name="title" placeholder="Topic title"/>
									<textarea class="pull-left col-xs-12 form-control" id="description" placeholder="Topic description" name="description"></textarea>
									<input class="pull-right btn-success btn-lg" type="submit" value="Add Suggestion">
								</form>
							</div>
						{{/if}}

						<div class="col-md-10 col-md-offset-1">
							{{#each topics}}
								<div class="topic-list-item">
									<div class="row">
										<div class="col-xs-1 topic-vote {{#if hasVoted}}topic-vote-voted{{/if}} {{#if isOwner}}topic-vote-owned{{/if}}">
											<div class="topic-vote-btn">
												<span class="glyphicon {{#if hasVoted}}glyphicon-ok{{else}}glyphicon-chevron-up{{/if}}"></span>
											</div>
											<div class="topic-vote-count">
												{{votes}}
											</div>
										</div>
										<div class="col-xs-11">
											<h1 class="topic-header">
												<a href="#">{{title}}</a>
											</h1>

											<p>{{description}}</p>

											<p class="text-muted topic-info">
												Suggested by <strong>{{name}}</strong> on {{createdAt}}
											</p>
											{{#if currentUser}}
												{{#if isOwner}}
												<div>
													<button class="topic-delete-btn pull-right"><span class="glyphicon glyphicon-trash"></span> Delete</button>
												</div>
												{{/if}}
											{{/if}}
										</div>
									</div>
								</div>
							{{/each}}
						</div>
					</div>
					<div class="tab-pane fade in" id="presented">
						<div class="col-md-10 col-md-offset-1 topic-header">
							<p class="well text-center">Suggested topic for the meet-up and presented.</p>
						</div>
						<div class="col-md-10 col-md-offset-1">
							<section class="topic-list-item">
								<h1><a href="#">Publish/Subscribe</a></h1>

								<p class="text-muted">Presented by Jone Doe on September 24, 2014 at 11:00 AM</p>

								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
									et dolore magna aliqua.</p>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>