<template name="footer">
	<!-- Footer -->
	<div class="ftr">
		<div class="container">
			<ul class="list-inline text-center social-buttons">
				<li>Find Us On:</li>
				<li><a class="btn-facebook smGlobalBtn" href="http://facebook.com" target="_blank"></a></li>
				<li><a class="btn-twitter smGlobalBtn" href="http://twitter.com" target="_blank"></a></li>
				<li><a class="btn-googleplus smGlobalBtn" href="http://plus.google.com" target="_blank"></a></li>
				<li><a class="btn-github smGlobalBtn" href="http://github.com/Meteor-Addis" target="_blank"></a></li>
			</ul>
			<p class="text-center text-muted">&copy; {{formatDate now "year"}} Meteor Addis</p>
		</div>
	</div>
	<!-- End Footer -->
</template>